<header class="header  header-bg">
    <div class="container">
    
        <div class="header__top">

            <div class="header__left">

                <div class="header__logo">
                    <span class="header__logo-title">Союз</span>
                    <span class="header__logo-text">арбитражных управляющих</span>
                </div>


                <div class="header__address">
                    <span class="header__address-text">Адрес компании:</span>
                    <span class="header__address-location">г.Пермь, ул.Луначарского 105</span>
                </div>
            </div><!--header__left-->

            <div class="header__right">
                <div class="header__phone">
                    <span class="header__phone-text">Звоните сейчас!</span>
                    <a class="header__phone-number" href="tel:89679000004">8 (967) 900 00 04</a>
                </div>

                <div class="header__burger">
                    <span class="header__burger-line"></span>
                    <span class="header__burger-line"></span>
                    <span class="header__burger-line"></span>
                    <span class="header__burger-line"></span>
                </div>
                <img src="./assets/img/basic/cross.svg" width="26" height="26" class='header__close hidden' alt="Закрыть">
            </div><!--header__right-->

        </div><!--header__top-->
    </div>
    <nav class="menu">
        <div class="container">
            <ul class="menu__list ">

                <li class="menu__list-item">
                    <span class="menu__list-bg">01</span>

                    <a class="menu__list-item-link" href="#">Услуги</a>
                    <div class="menu__list-img">
                        <img src="./assets/img/menu/img2.png" alt="Услуги">
                    </div>
                </li>

                <li class="menu__list-item">
                    <span class="menu__list-bg">02</span>

                    <a class="menu__list-item-link" href="#">преимущества</a>
                    <div class="menu__list-img">
                        <img src="./assets/img/menu/img2.png" alt="Приемущества">
                    </div>
                </li>

                <li class="menu__list-item">
                    <span class="menu__list-bg">03</span>

                    <a class="menu__list-item-link" href="#">клиенты</a>
                    <div class="menu__list-img">
                        <img src="./assets/img/menu/img3.png" alt="Клиенты">
                    </div>
                </li>

                <li class="menu__list-item">
                    <span class="menu__list-bg">04</span>

                    <a class="menu__list-item-link" href="#">контакты</a>
                    <div class="menu__list-img">
                        <img src="./assets/img/menu/img4.png" alt="Клиенты">
                    </div>
                </li>

            </ul><!--menu__list-->
        </div>

    </nav><!--menu-->


    <div class="container">
        <div class="header__intro">

            <div class="header__intro-left">
                <h1 class="header__intro-title">
                    Профессиональная
                    Юридическая
                    поддержка бизнеса
                    и частных лиц
                </h1>
                <a class="header__intro-btn  btn" href="#">узнать подробнее</a>
            </div>

            <div class="header__intro-right">
                <div class="header__intro-text">
                    <span>Сконцентрируйтесь</span>
                    на бизнесе<br>
                    и своих делах,
                    а остальное сделают<br>
                    профессионалы
                </div>
            </div>

        </div><!--header__intro-->


    </div><!--container-->
</header><!-- header-->