.contacts{
  margin-top: 80px;
  
  width: 100%;
  height: 613px;

  display: flex;
  justify-content: left;
  align-items: center;

  position: relative;
}

  
.contacts__box{
  position: absolute;
    
  z-index: 1;
  width: 330px;
  height: 400px;
    
  margin-left: 8%;
    
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: url("../../assets/img/contacts/img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.contacts__box-wrap{
  display: flex;
  flex-direction: column;
  width: 260px;
}

.contacts__address, .contacts__phone{
  display: flex;
  flex-direction: column;
}

.contacts-location, .contacts__phone-number{
  font-weight: 300;
  font-size: 25px;
  color: #FEFEFE;
  line-height: 1.1;
  letter-spacing: 1.25px;
}

.contacts-location{
  margin-bottom: 30px;
}

.contacts-text, .contacts__phone-text{
  margin-bottom: 8px;

  font-size: 17px;
  font-family: $font-Helvetica;
  letter-spacing: 1.27px;
  font-weight: 300;
  color: #CECECE;
}

@media (max-width: 980px){
  .contacts{
    margin-top: 0;

    background-position: 58%;
  }
}


@media (max-width: 768px){
  .contacts{
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 500px;

    background: none;
    background: #26374d;
    justify-content: center;
  }

  .contacts__box{
    padding: 0;
    margin: 0;
    margin: 0 auto;
    width: 90%;
  }
}