.header {
  min-height: 800px;
}

.header-bg{
  background: url('../../assets/img/header/header-bg.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-bg-menu{
  background: url('../../assets/img/header/bg-menu.png');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  margin-bottom: 60px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  width: 184px;
  height: 134px;
  margin-right: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url('../../assets/img/header/logotype.png');
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;

}

.header__logo-title, .header__logo-text{
  color: #2e2c33;
  font-size: 21px;
  line-height: 23.23px;
  font-weight: 700;
  letter-spacing: 1.27px;
  text-transform: uppercase;

}

.header__logo-text{
  font-weight: 400;
}

.header__address-text, .header__phone-text {
  margin-bottom: 8px;

  font-size: 17px;
  font-family: $font-Helvetica;
  letter-spacing: 1.27px;
  font-weight: 300;
  color: #CECECE;
}

.header__address-location, .header__phone-number {
  font-weight: 400;
  font-size: 25px;
  color: #FEFEFE;
  line-height: 1.1;
  letter-spacing: 1.25px;

}

.header__phone-number{
  letter-spacing: 0.8px;
}


.header__left {
  z-index: 4;
  display: flex;
  align-items: center;
}



.header__address {
  display: flex;
  flex-direction: column;
}


.header__right {
  display: flex;
  align-items: center;
  z-index: 4;
}

.header__phone {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.header__burger {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 50%;
  border: .37px solid #323a4f;
  cursor: pointer;
}

.header__close {
  margin: 17px;
  cursor: pointer;
}

.header__burger-line {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 4px;

  background: #979ca7;

  &:last-child {
    margin-bottom: 0;
  }
}


.header__intro {
  display: flex;

  align-items: flex-end;

  justify-content: space-between;
}

.header__intro-title {
  max-width: 570px;

  font-size: 59px;
  color: #E7E7E7;
  text-transform: uppercase;
  line-height: 1.293;
  font-weight: 400;
  letter-spacing: 1.30px;
}


.header__intro-btn {
  margin-left: 34px;
  margin-top: 61px;
  margin-bottom: 5px;

  letter-spacing: 2.4px;
}

.header__intro-btn:hover {
  margin-top: 66px;
}

.header__intro-right {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 254px;
  min-height: 333px;
  margin-right: 20px;

  background: url("../../assets/img/header/img.png");
  background-position: center;
  background-repeat: no-repeat;
}

.header__intro-text {
  max-width: 187px;

  font-family: $font-Helvetica;
  font-weight: 400;
  font-size: 14px;
  color: #2E2E2E;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 1.44px;
  span{
    font-family: $font-Oranienbaum;
    font-size: 19px;
    font-weight: 700;
    line-height: 2;
  }
}

.header__intro--display-flex{
  display: flex;
}

.header__intro--display {
  display: none
}


//header-top
@media (max-width: 980px) {

  .header{
    min-height: auto;
    padding-bottom: 30px;
  }

  .header__top {
    flex-direction: column;
    justify-content: flex-start;
  }

  .header__left {
    width: 100%;
    margin-bottom: 20px;

    justify-content: space-between;
  }

  .header__right {
    width: 100%;
    justify-content: space-between;
  }
  .header__intro-btn{
    margin-left: 0;
  }
}


@media (max-width: 600px) {

  .header {
    background: #26374d;
  }

  .header__top {
    flex-direction: column;
  }

  .header__left {
    width: 100%;
    margin-bottom: 20px;

    flex-direction: column;
    align-items: flex-start;
  }



  .header__right {
    width: 100%;

    flex-direction: row;

  }

  .header__phone {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header__address-text, .header__phone-text {
    margin-bottom: 5px;
  }

  .header__address-location, .header__phone-number {
    font-size: 23px;
  }

}



//intro
@media (max-width: 980px){

  .header__intro{
    padding-bottom: 50px;

    flex-direction: column;
    align-items: center;
  }

  .header__intro-left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__intro-left{
    margin-bottom: 40px;
  }
  .header__intro-right{
    margin-right: 0;
  }
  .header__intro-title{
    max-width: 100%;
    margin-bottom: 30px;

    font-size: 47px;
    text-align: center;
  }
  .header__intro-btn{
    margin: 0 auto;
  }
}

@media (max-width: 870px){

  .header__intro-left{
    margin-bottom: 40px;
  }
}

@media (max-width: 468px){
  .header__intro-title{
    font-size: 30px;
  }
}
